{% extends "layout_reg.html" %}

{% block title %}
	The Variety Quiz Portal    
{% endblock %}
{% block pagetitle %}
	Choose a Subject
{% endblock %}
{% block body %}

	<form method="POST" action={{url_for('quiz')}}>
	{% for sb in subList %}
		<input type="submit" name="sub" value='{{sb.subject}}' style="height:150px; width:150px;border: 1px solid; word-wrap:normal; margin:10px; padding: 10px;  box-shadow: 5px 10px 10px #888888;">
	{% endfor %}
	</form>

	<div class= "d-flex flex-column justify-content-end box-container">
		
		<form method="POST" action={{url_for('delete')}}>
			<input type="submit"  style="float: right; margin:10px; padding: 10px;  box-shadow: 5px 10px 10px #c02e2e;" value="Delete Question"/>
		</form>

		<form method="POST" action={{url_for('add')}}>
			<input type="submit" style="float: right; margin:10px; padding: 10px;  box-shadow: 5px 10px 10px #f1db0e;" value="Edit Question"/>
		</form>

		<form method="POST" action={{url_for('add')}}>
			<input type="submit"  style="float: right; margin:10px; padding: 10px;  box-shadow: 5px 10px 10px #46cf6f;" value="Add Question"/>
		</form>
	
	</div>
{% endblock %}
